<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cherry Check</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <!-- Title -->
    <h1 class="title">Cherry Check</h1>
    <!-- Button -->

    <div class="dashboard-grid">
        <button class="menu-btn" onclick="openNotebook('Outfits')">Outfits</button>
        <button class="menu-btn" onclick="openNotebook('Outfits')">Outfits</button>
        <button class="menu-btn" onclick="openNotebook('Outfits')">Outfits</button>
        <button class="menu-btn" onclick="openNotebook('Outfits')">Outfits</button>

        </div>    

    <div id="notebookModal" style="display: none;">
        <h2 id="modalTitle">Outfits CheckList:</h2>
        <ul>
            <li>Oversized sweater & denim</li>
            <li>Floral dress & boots</li>
        </ul>

        <button class="close-btn" onclick="closeNotebook()">Close</button>
    </div>
    
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>

</html>