<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cherry Check</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <!-- Title -->
    <h1 class="title">Cherry Check</h1>
    <!-- Button -->

    <div class="grid">

        <button class="Diabox" onclick="OpenDiabox('outfits')">Outfits</button>
        <button class="Diabox" onclick="OpenDiabox('stationary')">Stationary</button>
        </div>    

    <div id="outfits" style="display: none;">
        <h2 id="Title">Outfits:</h2>
        <ul>
            <li>hoodie</li>
            <li>dress</li>
        </ul>

        <button class="close-btn" onclick="closeNotebook('outfits')">Close</button>
    </div>


    <div id="stationary" style="display: none;">
        <h2 id="Title">Stationary:</h2>
        <ul>
            <li>Scissors</li>
            <li>Glue</li>
        </ul>

        <button class="close-btn" onclick="closeNotebook('stationary')">Close</button>
    </div>
    
    
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>

</html>